@model Nescoin.Conexion.Models.Tbl_Telefono

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Teléfono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_telefono }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
