@model Nescoin.Conexion.Models.Tbl_movimiento

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_ref_movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_ref_movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Calificacion.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Calificacion.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Forma_Pago.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Forma_Pago.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_tipo_movimiento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_tipo_movimiento.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_movimiento }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
