@model Nescoin.Conexion.Models.Tbl_Contacto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que quieres eliminar?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Calificacion.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Calificacion.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Tipo_usuario.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Tipo_usuario.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Usuario.nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Usuario.nick)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
