@model IEnumerable<Nescoin.Conexion.Models.Tbl_Pais>

@{
    ViewBag.Title = "Paises";
}

<h2>Paises</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
    <br />
    <a href="/Home/Index">Volver a administración</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_pais }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id_pais }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_pais })
        </td>
    </tr>
}

</table>
